<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yaska.visionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Visionary"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ActivityTheater"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- youtube player activity -->
        <activity
            android:name=".ActivityPlayer"
            android:exported="true"
            android:screenOrientation="landscape" />

        <!-- movie detail activity -->
        <activity
            android:name=".ActivityMovieDetails"
            android:exported="true">


        </activity> <!-- main plage activity -->
        <activity
            android:name=".ActivityMainPage"
            android:exported="true">


        </activity> <!-- login activity -->
        <activity
            android:name=".ActivityLogin"
            android:exported="true">


            <!-- intent open main -->

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>